@import 'normalize.css';
@import 'general.css';
@import 'nav.css';
@import 'home.css';
@import 'blocks.css';

.block__blocks {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}



.block__skills {
    align-content: center;
}

.block__skills ul {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 10px;
}

.block__experiences {
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
}

.block__skills li {
    background-color: #F5F17D;
    display: inline-block;
    align-content: center;
    color: darkslategray;
    padding: 6px 20px;
    border-radius: 4px;
    font-weight: 600;
}

@media screen and (max-width: 960px) {
    .block__blocks {
        flex-direction: column;
    }

    .block__experiences {
        font-size: 1.1rem;
    }
}